body
    .box-shadow
        .middle, .bottom
            .bold
                color: $Verydarkdesaturatedblue
                font-weight: $boldFontWeight
                font-size: 18px
            .number
                font-weight: $regularFontWeight
                color: $Darkgrayishblue
            .middle-grey
                color: $Darkgrayishblue
                padding-top: 8px
                font-weight: $regularFontWeight
                font-size: 14px
            .bottom-grey
                color: $Darkgrayishblue
                font-weight: $regularFontWeight
                font-size: 10px
                padding-top: 6px
                letter-spacing: 2px
            .text-padding
                padding-top: 10px

// $Darkcyan: hsl(185, 75%, 39%)
// $Verydarkdesaturatedblue: hsl(229, 23%, 23%)
// $Darkgrayishblue: hsl(227, 10%, 46%)
// $Darkgray: hsl(0, 0%, 59%, 0.2)
