.top
    border-top-left-radius: $border-radius
    border-top-right-radius: $border-radius
    background-color: white

    & img
        width: 100%
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius
        height: 140px
