@import "variables";

* {
  margin: 0;
  padding: 0;
}

body {
  /* Background, and centering */
  min-height: 100vh;
  font-family: $fontFam;
  background-color: $Darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Background Circles */
  background-image: $imageOneUrl,$imageTwoUrl;
  background-repeat: no-repeat, no-repeat;
  background-size: 65% 100%;
  background-position: $background-position;
}
.box-shadow {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
/* Text edits */
.number {
  font-weight: $regularFontWeight;
  color: $Darkgrayishblue;
}
.bold {
  font-weight: $boldFontWeight;
  font-size: 18px;
}
.middle-grey {
  color: $Darkgrayishblue;
  padding-top: 8px;
  font-weight: $regularFontWeight;
  font-size: 13px;
}
.bottom-grey {
  color: $Darkgrayishblue;
  font-weight: $regularFontWeight;
  font-size: 10px;
  padding-top: 6px;
  letter-spacing: 2px;
}
.text-padding {
  padding-top: 10px;
}
/* ------- */
.top {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-color: white;
}
.top img {
  width: 100%;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  min-height: 100%;
}
/* Middle part, Avatar icon, Name,vim index.html Age, City */
.middle {
  text-align: center;
  background-color: white;
  position: relative;
  padding-bottom: 20px;
}

.middle img {
  border: 5px solid white;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px;
  margin-top: -59px;
}

/* Bottom part of image, Folowers, Likes, Photos */
.bottom {
  border-top: 1px solid $Darkgray;
  padding: 25px 0 25px 0;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
/* Commentar */
@media screen and (max-width: 640px) {
  body {
    background-position: $smallScreenBackPos;
    background-size: 150%, 160% 90%;
  }
  .box-shadow {
    width: 88%;
  }
}

